<div class="container">
    <div class="col-12">
        <h1 class="text-center mt-2">
            Alberto Giffard
        </h1>
        <span>
            Estudiante de 4to cuatrimestre de la carrera de Tecnicatura en programación, que no ha descansado desde Abril porque está viendo 5 materias que cada una demanda demasiado tiempo (Además trabajo), y solo tengo los domingos para hacer todo y de vez en cuando vivo.
        </span>
        <br>
        <h3 class="text-center">¿Por qué no meti menos materias?</h3>
        <span>Muy buena pregunta, según la cronología de las materias se supone que deberían poder verse está cantidad y la verdad quiero graduarme lo mas pronto posible asi que ando haciendo todo lo posible para salir bien en mi carrera/materias y obtener la gran recompensa del final... exacto... dormir.</span>
        <br>
        <span>Ahora que sabes un poco mas de mi, te invito a visitar mi cuenta en GitHub, a ver que de interesante encuentras por ahi.</span>
        <div class="text-center mt-3">
            <a href="https://github.com/AlbertoGiffard" class="btn btn-primary text-center pl-3 pr-3">GitHub</a>
        </div>
    </div>
</div>
