<div class="container grid-md">
    <div class="columns">
        <div class="column col-12 text-center">
            <h5>Adivina la palabra</h5>
        </div>

        <div class="column col-12">
            <div class="columns">
                <div class="column col-8 col-sm-12 text-center">
                    <div id = "word" style="display: flex;flex-direction: row; justify-content: center;"></div>
                </div>

                <div class="column col-4 col-sm-12 text-center">
                    <img id="img" src={{image}} alt="dibujo">
                </div>
            </div>
        </div>
        <div class="column col-12 text-center mt-3">
            <div class="columns bg-gray row manito" id="letters">
            </div>
        </div>
    </div>
</div>
