.btnWin{
    background-color: rgb(16, 222, 16);
}

.btnLose{
    background-color: rgb(222, 16, 16);
}

.container{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 51%, rgba(9,9,121,1) 99%);
}

.containerChoice{
    width: 60%;
}

.height-fix{
    height: 310px;
}

.imagePreguntado{
    width: 115px;
}

.marginTop{
    margin-top: 80px;
}

.txt-25{
    font-size: 25px;
    color: white;
}

.txt-30{
    font-size: 30px;
    line-height: 1.6;
}